html, body {
    height: 100%;
}
body {
	margin: 0;
	display: block;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	font-family: 'Roboto', sans-serif;
}
h1 {
	margin: 5px 0px;
}
.container {
    height: 100%;
    padding: 0;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 800px) {
	.container {
		gap: 1rem;
		flex-direction: column;
	}
}
.profile-image img {
	width: 100%;
	height: auto;
}
.profile-info {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
@media only screen and (max-width: 800px) {
	.profile-info h1 {
		text-align: center;
	}
}
@media only screen and (max-width: 800px) {
	.profile-info h2 {
		text-align: center;
	}
}
.profile-info-container {
	display: flex;
}
@media only screen and (max-width: 800px) {
	.profile-info-container {
		max-width: 500px;
	}
}
.profile-contact-container {
	display: flex;
	flex-flow: row wrap;
	gap: 0.75rem 0.75rem;
}
@media only screen and (max-width: 800px) {
	.profile-contact-container {
		justify-content: center;
	}
}
@media only screen and (max-width: 400px) {
	.profile-contact-container a {
		align-items: center;
	}
}
.profile-contact-container a {
	display: inline-block;
	text-decoration: none;
}
.profile-contact-item {
	background-color: lightgray;
	border-radius: 24px;
	height: 48px;
	width: 48px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.profile-contact-item i {
	display: inline-block;
	margin: auto;
	font-size: 1.5rem;
	color:  black;
}